body {
    margin: 0;
    background-color: #121212;
    color: #fff;
}

button {
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    border: inherit;
    background-color: transparent;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.app {
    font-family: "Helvetica Neue", sans-serif;
    min-height: calc(100vh - 0.5rem);
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    height: 4rem;
}

.user_preview__wrapper {
    position: relative;
    font-size: 0.875rem;
}

.user_preview {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    height: 2.5rem;
    padding-right: 1rem;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: saturate(1.8) blur(15px);
    border-radius: 1.5rem;
    transition: background-color 0.3s;
}

.user_preview.open {
    background-color: rgba(255, 255, 255, 0.12);
}

.user_preview:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.user_preview.is_loading {
    width: 3.3rem;
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.user_preview__image {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.user_preview__image__loading {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.user_menu {
    position: absolute;
    top: 2.9rem;
    right: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: saturate(1.8) blur(15px);
    width: fit-content;
    display: none;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
}

.user_menu.open {
    display: block
}

.user_menu__item {
    width: 100%;
    min-width: 8.5rem;
    padding: 0.5em;
    text-align: start;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.user_menu__item.link {
    box-sizing: border-box;
}

.user_menu__item:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.user_menu__item_icon {
    height: 1rem;
}

.user_menu__divider {
    height: 1px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.08);
}

.preview {
    font-family: "Helvetica Neue", sans-serif;
}

.error_message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    background-color: #ed4337;
    position: relative;
    font-size: 0.875rem;
}

.error_message__text {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.error_message__close {
    position: absolute;
    top: calc(50% - 0.6rem);
    right: 0.5rem;
    margin: 0;
    padding: 0;
}

.error_message__close_icon {
    height: 1.2rem;
}

.app__content {
    flex-grow: 1;
    display: flex;
    gap: 0.5rem;
}

.app__content__first {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    flex-grow: 3.5;
}

.app__content__second {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    flex-grow: 1;
}

.app__player {
    margin-top: 0.5rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 0.5rem;
}

.app__player__loading {
    margin-top: 0.5rem;
    height: 5rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.app__player__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    height: calc(100% - 1rem);
}

.app__player__empty {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.playback_controllers__wrapper {
    display: flex;
    flex-direction: column;
}

.playback_controllers__wrapper.is_loading {
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    width: 100%;
    height: 100%;
    animation: 1.5s shine linear infinite;
}

.playback_controllers {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.playback__pause {
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 4rem;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    transition: 0.3s;
    opacity: 0.86;
}

.playback__pause:hover {
    transform: scale(1.06);
    opacity: 1;
}

.playback__pause_icon {
    height: 1.6rem;
}

.playback__prev, .playback__next {
    height: fit-content;
    padding: 0;
    opacity: 0.72;
    transition: opacity 0.3s;
}

.playback__prev:hover, .playback__next:hover {
    opacity: 1;
}

.playback__prev_icon, .playback__next_icon {
    height: 1.4rem;
}

.playback__prev_icon {
    transform: scaleX(-1);
}

.playback_settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.8rem;
}

.playback_settings__wrapper {
    position: relative;
}

.playback_device__preview {
    padding: 0;
    height: fit-content;
    display: flex;
}

.playback_device__icon {
    height: 1.6rem;
    opacity: 0.72;
    transition: opacity 0.3s;
}

.playback_device__icon:hover {
    opacity: 1;
}

.playback_device__menu {
    position: absolute;
    bottom: 4.5rem;
    right: 1rem;
    display: none;
    background-color: rgba(255, 255, 255, 0.04);
    padding: 0.5rem;
    width: 14rem;
    border-radius: 0.5rem;
    backdrop-filter: saturate(1.8) blur(15px);
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2);
    font-size: 0.875rem;
}

.playback_device__menu.open {
    display: flex;
    flex-direction: column;
}

.playback_device__menu__list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.playback_device__button {
    padding: 0.5rem 0.7rem 0.5rem 0.5rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    width: 100%;
}

.playback_device__button__point {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playback_device__button__point::before {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

.playback_device__button.active > .playback_device__button__point::before {
    background-color: #1DB954;
    animation: playing 1s infinite alternate ease-out;
}

.playback_device__button:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.playback_device__loading {
    width: 100%;
    height: 2rem;
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    border-radius: 0.3rem;
    animation: 1.5s shine linear infinite;
}

.playback_device__header {
    padding: 0.3rem 0.5rem 0.6rem 0.3rem;
}

.playback_current_track {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.playback_current_track.loading .first {
    height: 4rem;
    width: 4rem;
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    border-radius: 0.3rem;
    animation: 1.5s shine linear infinite;
}

.playback_current_track.loading .second {
    height: 1rem;
    width: 8rem;
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    border-radius: 0.3rem;
    animation: 1.5s shine linear infinite;
}

.playback_current_track.loading .third {
    height: 0.875rem;
    width: 8rem;
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    border-radius: 0.3rem;
    animation: 1.5s shine linear infinite;
}

.current_track__image {
    height: 4rem;
    width: 4rem;
    background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 8%, rgba(255, 255, 255, 0.16) 18%, rgba(255, 255, 255, 0.12) 33%);
    background-size: 200% 100%;
    border-radius: 0.3rem;
    animation: 1.5s shine linear infinite;
}

.current_track__info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem
}

.playback_current_track.loading .current_track__info {
    gap: 0.5rem;
}

.artists_list {
    display: flex;
}

.artist_item {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
}

.artist_item::after {
    content: ',';
    display: block;
    margin-right: 0.2rem;
}

.artist_item:last-of-type::after {
    display: none;
}

.volume_controller {
    display: flex;
    gap: 0.5rem;
}

.volume_controller__mute {
    padding: 0;
    display: flex;
    opacity: 0.72;
    transition: opacity 0.3s;
}

.volume_controller__mute:hover {
    opacity: 1;
}

.volume_controller__icon {
    height: 1.4rem;
}

.volume_controller__range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 7rem;
}

.volume_controller__range::-webkit-slider-runnable-track {
    height: 0.3rem;
    border-radius: 0.2rem;
}

.volume_controller__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.25rem;
    background-color: rgba(255, 255, 255, 0.86);
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    display: none;
}

.volume_controller__range:hover::-webkit-slider-thumb {
    display: block;
}

.volume_controller__range::-webkit-slider-runnable-track {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.86) 0%, rgba(255, 255, 255, 0.86) var(--progress), rgba(255, 255, 255, 0.3) var(--progress), rgba(255, 255, 255, 0.3) 100%);
    border-radius: 0.2rem;
}

@keyframes playing {
    from {
        height: 5px;
        width: 5px;
    }
    to {
        height: 10px;
        width: 10px;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}
